 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: aqua;
}

.links{
  /* margin-right: 10px; */
  width: 30%;
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
}
 
 
 section{
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 5px 5px;
  justify-content: center;
  margin: 20px auto;
}

section img{
  width: 200px;
  height: 200px;
}

/* .img1{
grid-column: 1/2;
grid-row: 1/2;

} */

.img2{
  grid-row: 1/3;
  grid-column: 2/3;
  height: 400px;
}


.img7{
  width: 203%;
}



@media screen and (max-width: 768px) {

  .links{
    display: none;
  }
  
  .menubar{
    display: block;
  }

  .navbar:has(.menubar:hover) .links{
    border: 1px solid black;
    width: 70px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 15px;
  }
}