*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: aqua;
}

.links{
  /* margin-right: 10px; */
  width: 30%;
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
}

/* .menubar{
  display: flex;
} */

.bar1{
  width: 30px;
  height: 5px;
  margin-bottom: 2px;
  border-radius: 20px;
  background-color: black;
}

.card1{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;  
}

.img-sec {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; 
  
}

.img-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
}

.text{
  font-size: smaller;
 
  padding: 10px;
}

.btn{
  width: 40%;
 margin-top: 20px;
}


.card12{
  height: 250px;
  width: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;  
}

.superman-img{
  height: 100px;
  width: 100px;

}

section{
  display: flex;
  justify-content: center;
}

.card13{
  height: 250px;
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;  
}

.calculator{
 height: 60vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 50px;
}

.card{
    border: 1px solid black;
  height: 500px;
  width: 300px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: black;

}



.top-section{
  border-bottom: 1px solid black;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#num{
  color: white;
  font-size: 70px;
}

.row1{
  display: flex;
  justify-content: space-between;
}

.circle0{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(236, 234, 234);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.circle01{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(234, 138, 12);
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.row2{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.circle1{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(236, 234, 234);
 display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.circle10{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(234, 138, 12);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.row3{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.circle2{
  height: 65px;
  width: 65px;
  border-radius: 50%;
 background-color: rgb(236, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.circle20{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(234, 138, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.row4{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.circle3{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(236, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.circle30{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(234, 138, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.row5{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.circle4{
  height: 65px;
  width: 65px;
  border-radius: 50%;
 
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.circle5{
  height: 65px;
  width: 150px;
  border-radius: 40%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}



@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  .card12,
  .card13 {
    margin-left: 0;     
  }
}

@media screen and (max-width: 768px) {

  .links{
    display: none;
  }
  
  .menubar{
    display: block;
  }

  .navbar:has(.menubar:hover) .links{
    border: 1px solid black;
    width: 70px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 15px;
  }
}